<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 row">
        <div class="col-3">
          <img
            style="width: 100%; margin-bottom: 15px"
            class="logo-aptech"
            src="/assets/images/logo-aptech.png"
          />
          <p>
            Symphony, with over 22 years of experience in training
            programmers (established in 2001), proudly stands as a leading
            provider of Information Technology training services in Vietnam,
            offering internationally recognized certifications
          </p>
        </div>
        <div class="col-3">
          <h2 class="title">Contact</h2>
          <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
              <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
              </span>
              <span class="elementor-icon-list-text"
                >Địa chỉ: {{contact?.address}}</span
              >
            </li>
            <li class="elementor-icon-list-item">
              <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fas fa-phone-alt"></i>
              </span>
              <span class="elementor-icon-list-text"
                >Hotline: {{contact?.hotline}}</span
              >
            </li>
            <li class="elementor-icon-list-item">
              <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="far fa-envelope"></i>
              </span>
              <span class="elementor-icon-list-text">Email: {{contact?.email}}</span>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h2 class="title">Prominent</h2>
          <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
              <a
                href="https://aptech.vn/tin-tuc-su-kien/vung-vang-su-nghiep-cung-aptech.html"
                ><span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-circle"></i>
                </span>
                <span class="elementor-icon-list-text"
                  >Scholarship Symphony 2024</span
                >
              </a>
            </li>
            <li class="elementor-icon-list-item">
              <a
                href="https://aptech.vn/hanoi-aptech/gioi-thieu-hanoi-aptech.html"
                ><span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-circle"></i>
                </span>
                <span class="elementor-icon-list-text">introduction</span>
              </a>
            </li>
            <li class="elementor-icon-list-item">
              <a href="https://aptech.vn/lap-trinh-vien-quoc-te-adse"
                ><span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-circle"></i>
                </span>
                <span class="elementor-icon-list-text"
                  >Curricclum</span
                >
              </a>
            </li>
            <li class="elementor-icon-list-item">
              <a href="https://aptech.vn/blog"
                ><span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-circle"></i>
                </span>
                <span class="elementor-icon-list-text">Event news</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h2 class="title">Follow</h2>
          <ul class="ekit_social_media">
            <li class="elementor-repeater-item-09459c9">
              <img src="/assets/images/icon-facebook.png" />
            </li>
            <li class="elementor-repeater-item-d6fc142">
              <img src="/assets/images/icon-instagram.jpg" />
            </li>
            <li class="elementor-repeater-item-4b56c16">
              <img src="/assets/images/icon-messanger.png" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
