footer {
  background-color: #ad1f1f;
  color: white;
  padding: 60px 0;
}
.title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  padding-bottom: 30px;

}
.elementor-icon-list-items {
  list-style-type: none;
  padding: 0px;
}
.elementor-icon-list-items > li {
  padding: 10px 0px;
}
.elementor-icon-list-icon {
  padding-right: 5px;
}
.elementor-icon-list-item > a {
  color: #fff;
  text-decoration: none;
}
.elementor-33851 .elementor-element.elementor-element-77ed1268 {
  --e-icon-list-icon-size: 7px;
  --icon-vertical-offset: 0px;
}
.ekit_social_media {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
}
.ekit_social_media > li >img{
    width: 20px;
    background-color: white;
    margin: 10px;
}
