.title{
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 27px;
    fill: #9e1d1d;
    color: #9e1d1d;
    background-color: #67676700;
    border-style: solid;
    border-width: 0 0 0 5px;
    border-radius: 0;
    padding: 0 0 0 10px;
    font-weight: 600;
}
.title-course{
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 2em;
    margin: 10px 0;
}
.elementor-icon-list-items{
    list-style-type: none;
    padding: 0;
}
.elementor-icon-list-icon i {
    color: #9e1d1d;
    transition: color .3s;
    padding-right: 10px;
}
.elementor-icon-list-item a {
    color: #000;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3em;
    text-decoration: none;
}
.elementor-image-box-description {
    font-size: 15px;
    line-height: 1.5em;
}
.elementor-icon-list-item{
    padding-bottom: 5px;
}