<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title">The upcoming courses</h2>
        <div class="row">
          <div class="col-4" *ngFor="let partner of list_course">
            <div class="">
              <img [src]="partner.image" alt="" style="width: 100%" />
              <p class="title-course">{{ partner.name }}</p>
              <p class="elementor-image-box-description">
                {{ partner.description }}
              </p>
              <div>
                <ul class="elementor-icon-list-items">
                  <li class="elementor-icon-list-item">
                    <a href="https://aptech.vn/tuyensinh"
                      ><span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-gift"></i>
                      </span>
                      <span class="elementor-icon-list-text">{{
                        partner.discount
                      }}</span>
                    </a>
                  </li>
                  <li class="elementor-icon-list-item">
                    <a href="https://aptech.vn/tuyensinh"
                      ><span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-clock"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Opening: {{ partner.startTime }}</span
                      >
                    </a>
                  </li>
                  <li class="elementor-icon-list-item">
                    <a href="https://aptech.vn/tuyensinh"
                      ><span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-bookmark"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Duration: 2 - 2.5 năm</span
                      >
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
