<div class="dialog__manage">
  <div class="dialog__title">
    <div class="dialog__title-name"><h4>{{ title }}</h4></div>
    <div class="dialog__title-close" mat-button (click)="onNoClick()">
      <svg
        fill-rule="evenodd"
        viewBox="64 64 896 896"
        focusable="false"
        data-icon="close"
        width="1em"
        height="1em"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          d="M799.86 166.31c.02 0 .04.02.08.06l57.69 57.7c.04.03.05.05.06.08a.12.12 0 010 .06c0 .03-.02.05-.06.09L569.93 512l287.7 287.7c.04.04.05.06.06.09a.12.12 0 010 .07c0 .02-.02.04-.06.08l-57.7 57.69c-.03.04-.05.05-.07.06a.12.12 0 01-.07 0c-.03 0-.05-.02-.09-.06L512 569.93l-287.7 287.7c-.04.04-.06.05-.09.06a.12.12 0 01-.07 0c-.02 0-.04-.02-.08-.06l-57.69-57.7c-.04-.03-.05-.05-.06-.07a.12.12 0 010-.07c0-.03.02-.05.06-.09L454.07 512l-287.7-287.7c-.04-.04-.05-.06-.06-.09a.12.12 0 010-.07c0-.02.02-.04.06-.08l57.7-57.69c.03-.04.05-.05.07-.06a.12.12 0 01.07 0c.03 0 .05.02.09.06L512 454.07l287.7-287.7c.04-.04.06-.05.09-.06a.12.12 0 01.07 0z"
        ></path>
      </svg>
    </div>
  </div>
  <form #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm)">
    <div class="dialog__body">
      <div class="form-group">
        <label for="username">User Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="admin.name"
          name="name"
          #name="ngModel"
        />
        <div
          *ngIf="name.invalid && name.touched"
          class="alert alert-danger"
        >
          User name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          type="number"
          class="form-control"
          id="amount"
          required
          [(ngModel)]="admin.amount"
          name="amount"
          #amount="ngModel"
        />
        <div *ngIf="amount.invalid && amount.touched" class="alert alert-danger">
          Amount is required.
        </div>
      </div>
  
      <!-- Thêm trường input cho 'start_time' -->
      <div class="form-group">
        <label for="start_time">Start Time</label>
        <input
          type="date" 
          class="form-control"
          id="start_time"
          required
          [(ngModel)]="admin.start_time"
          name="start_time"
          #start_time="ngModel"
        />
        <div *ngIf="start_time.invalid && start_time.touched" class="alert alert-danger">
          Start Time is required.
        </div>
        </div>
    </div>
    <div class="dialog__footer">
      <div class="dialog__footer-btn">
        <button type="button" class="btn__cancel" (click)="onNoClick()">
          Cancel
        </button>
        <button
          class="btn__submit"
          [disabled]="adminForm.invalid"
          type="submit"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
