<div class="dialog__manage">
    <div class="dialog__title">
        <div class="dialog__title-name">
            <h4>Create admin</h4>
        </div>
        <div class="dialog__title-close" mat-button (click)="onNoClick()">
            <svg fill-rule="evenodd" viewBox="64 64 896 896" focusable="false" data-icon="close" width="1em"
                height="1em" fill="currentColor" aria-hidden="true">
                <path
                    d="M799.86 166.31c.02 0 .04.02.08.06l57.69 57.7c.04.03.05.05.06.08a.12.12 0 010 .06c0 .03-.02.05-.06.09L569.93 512l287.7 287.7c.04.04.05.06.06.09a.12.12 0 010 .07c0 .02-.02.04-.06.08l-57.7 57.69c-.03.04-.05.05-.07.06a.12.12 0 01-.07 0c-.03 0-.05-.02-.09-.06L512 569.93l-287.7 287.7c-.04.04-.06.05-.09.06a.12.12 0 01-.07 0c-.02 0-.04-.02-.08-.06l-57.69-57.7c-.04-.03-.05-.05-.06-.07a.12.12 0 010-.07c0-.03.02-.05.06-.09L454.07 512l-287.7-287.7c-.04-.04-.05-.06-.06-.09a.12.12 0 010-.07c0-.02.02-.04.06-.08l57.7-57.69c.03-.04.05-.05.07-.06a.12.12 0 01.07 0c.03 0 .05.02.09.06L512 454.07l287.7-287.7c.04-.04.06-.05.09-.06a.12.12 0 01.07 0z">
                </path>
            </svg>
        </div>
    </div>
    <form #faqForm="ngForm" (ngSubmit)="onSubmit(faqForm)">
        <div class="dialog__body">

            <div class="form-group">
                <label for="question">Question</label>
                <textarea type="text" class="form-control" id="question" required [(ngModel)]="faq.question"
                    name="question" #question="ngModel"></textarea>
                <div *ngIf="question.invalid && question.touched" class="alert alert-danger">
                    question name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="answer">Answer</label>
                <textarea type="text" class="form-control" id="answer" required [(ngModel)]="faq.answer" name="answer"
                    #answer="ngModel" > </textarea>
                <div *ngIf="answer.invalid && answer.touched" class="alert alert-danger">
                    answer name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="acitve">Active</label>
                <select class="form-control" id="active" required [(ngModel)]="faq.active" name="active" #active="ngModel">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <div *ngIf="active.invalid && active.touched" class="alert alert-danger">
                    Active is required.
                </div>
            </div>
        </div>
        <div class="dialog__footer">
            <div class="dialog__footer-btn">
                <button type="button" class="btn__cancel" (click)="onNoClick()">
                    Cancel
                </button>
                <button class="btn__submit" [disabled]="faqForm.invalid" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>