<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 row">
        <div class="col-3">
          <img style="width: 100%;margin-bottom: 15px;" class="logo-aptech" src="/assets/images/logo-aptech.png" />
          <p>
            Hanoi-Aptech với hơn 22 năm kinh nghiệm đào tạo Lập trình viên
            (thành lập năm 2001) tự hào là nhà cung cấp dịch vụ đào tạo Công
            nghệ thông tin hàng đầu tại Việt Nam cấp bằng Quốc Tế.
          </p>
        </div>
        <div class="col-3">
          <h2 class="title">Liên hệ</h2>
          <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
              <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
              </span>
              <span class="elementor-icon-list-text"
                >Địa chỉ: Tầng 1, Tòa C5, Cổng sau Đại học Thủy Lợi, 175 Tây
                Sơn, Đống Đa, Hà Nội</span
              >
            </li>
            <li class="elementor-icon-list-item">
              <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fas fa-phone-alt"></i>
              </span>
              <span class="elementor-icon-list-text"
                >Hotline: 0382 020 858</span
              >
            </li>
            <li class="elementor-icon-list-item">
              <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="far fa-envelope"></i>
              </span>
              <span class="elementor-icon-list-text">Email: info.vn</span>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h2 class="title">Nổi bật</h2>
          <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
              <a
                href="https://aptech.vn/tin-tuc-su-kien/vung-vang-su-nghiep-cung-aptech.html"
                ><span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-circle"></i>
                </span>
                <span class="elementor-icon-list-text"
                  >Học bổng Aptech-Hanoi 2024</span
                >
              </a>
            </li>
            <li class="elementor-icon-list-item">
              <a
                href="https://aptech.vn/hanoi-aptech/gioi-thieu-hanoi-aptech.html"
                ><span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-circle"></i>
                </span>
                <span class="elementor-icon-list-text">Giới thiệu</span>
              </a>
            </li>
            <li class="elementor-icon-list-item">
              <a href="https://aptech.vn/lap-trinh-vien-quoc-te-adse"
                ><span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-circle"></i>
                </span>
                <span class="elementor-icon-list-text"
                  >Chương trình đào tạo</span
                >
              </a>
            </li>
            <li class="elementor-icon-list-item">
              <a href="https://aptech.vn/blog"
                ><span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-circle"></i>
                </span>
                <span class="elementor-icon-list-text">Tin tức sự kiện</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h2 class="title">Theo dõi</h2>
          <ul class="ekit_social_media">
            <li class="elementor-repeater-item-09459c9">
              <img src="/assets/images/icon-facebook.png" />
            </li>
            <li class="elementor-repeater-item-d6fc142">
              <img src="/assets/images/icon-instagram.jpg" />
            </li>
            <li class="elementor-repeater-item-4b56c16">
              <img src="/assets/images/icon-messanger.png" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
