<div class="admissions__main">
  <div class="admissions__main-banner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="main__banner-image">
            <img [src]="pathBanner" alt="Banner Admissions" />
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="main__banner-form">
            <div class="banner__form-title">
              <h2>Ready to become</h2>
              <p>International programmer</p>
            </div>
            <div class="banner__form-field">
              <form
                class="form__field-admissions"
                (ngSubmit)="onSubmit()"
                #heroForm="ngForm"
              >
                <div class="form-group">
                  <!-- <label for="name">Name</label> -->
                  <input
                    class="form-control"
                    type="text"
                    class="form-control"
                    id="name"
                    required
                    [(ngModel)]="admissions.name"
                    name="name"
                    #name="ngModel"
                    placeholder="User Name"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    class="form-control"
                    id="email"
                    required
                    [(ngModel)]="admissions.email"
                    name="email"
                    #name="ngModel"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    class="form-control"
                    id="phone"
                    required
                    [(ngModel)]="admissions.phone"
                    name="phone"
                    #name="ngModel"
                    placeholder="Phone Number"
                  />
                </div>
                <div class="form-group">
                  <select
                    class="form-control"
                    id="level"
                    [(ngModel)]="admissions.level"
                    name="level"
                    #power="ngModel"
                  >
                    <option value="0" disabled selected>Level</option>
                    <option
                      *ngFor="let level of level_admissions"
                      [value]="level.id"
                    >
                      {{ level.name }}
                    </option>
                  </select>
                </div>

                <button type="submit" class="btn btn-success">
                  Advise now
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="admissions__main-achievements">
    <div class="container">
      <div class="main__achievements-top">
        <div class="achievements__top-list">
          <div class="row">
            <div class="col-6 col-md-3" *ngFor="let top of top_admissions">
              <div class="top__list-item">
                <div class="top__item-icon">
                  <img [src]="top.icon" alt="" />
                </div>
                <div class="top__item-text">
                  <div class="item__text-title">
                    {{ top.name }}
                  </div>
                  <div class="item__text-description">
                    {{ top.description }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main__achievements-reason">
        <div class="achievements__reason-title">
          <h2>THE REASON PROGRAMMING IS ALWAYS A HOT INDUSTRY</h2>
        </div>
        <div class="achievements__reason-list">
          <div class="row">
            <div
              class="col-12 col-md-6"
              *ngFor="let reason of reason_admissions"
            >
              <div
                class="achievements__reason-item"
                [style.background-color]="reason.backgroundColor"
                [style.color]="reason.color"
                [style.box-shadow]="reason.boxShadow"
              >
                <div class="reason__item-title">
                  <span>{{ reason.name }}</span>
                </div>
                <div class="reason__item-description">
                  <p>{{ reason.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main__module-course">
        <div class="module__course-title">
          <h3>APTECH INTERNATIONAL PROGRAMMER COURSE</h3>
        </div>
        <div class="module__course-list">
          <div class="row">
            <div
              class="col-12 col-sm-6 col-md-4"
              *ngFor="let course of course_admissions"
            >
              <div class="module__course-item">
                <div class="course__item-image">
                  <img [src]="course.image" alt="" />
                </div>
                <div class="course__item-text">
                  <div class="item__text-name">
                    <h4>{{ course.name }}</h4>
                  </div>
                  <div class="item__text-description">
                    <p>
                      {{ course.description }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="admissions__main-passion">
    <div class="main__passion">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="main__passion-text">
              <h4>
                You are passionate about technology & love programming. You want to conquer
                "IT" career with attractive salary?
              </h4>
              <p>
                “We don’t keep up with technology. We stay ahead of it - Chúng
                tôi không chạy theo công nghệ. Chúng tôi đón đầu công nghệ!"
              </p>
            </div>
          </div>

          <div class="col-12 col-md-4 btn__round">
            <div class="main__passion-btn">
              <button>Start now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-benefit-partner></app-benefit-partner>
</div>
