<div class="main-about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Welcome to Symphony!</h1>
        <p class="sub-title">
          “We don’t keep up with technology. We stay ahead of it – Chúng tôi
          không chạy theo công nghệ. Chúng tôi đón đầu công nghệ!”
        </p>
        <img style="width: 100%; height: 600px" src="/assets/images/aptech-about-us.png" />
        <p class="description">
          is a pioneering company in the field of Information Technology and Multimedia Communication training, being a
          leading global vocational education company headquartered in Mumbai, India. We have been providing training
          since 1986. With centers located throughout Vietnam, Aptech has truly become a reputable training center
          adhering to international standards. From Hanoi to Ho Chi Minh City, so wherever you are, Aptech is always
          within your reach. All Aptech centers in Vietnam comply with international standards. In addition to
          instructor-led training methods, online training and online testing are also implemented at all centers.
          Aptech always believes in unlocking the potential of each student and fulfilling the mission of nurturing
          millions of IT professionals for leading global enterprises. Based on the latest curriculum trends in the
          world of technology, Aptech leads in educating and training courses from basic to professional levels.
        </p>
      </div>
    </div>
  </div>
</div>