<div class="main-about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Chào mừng các bạn đã đến với Symphony</h1>
        <p class="sub-title">
          “We don’t keep up with technology. We stay ahead of it – Chúng tôi
          không chạy theo công nghệ. Chúng tôi đón đầu công nghệ!”
        </p>
        <img
          style="width: 100%; height: 600px"
          src="/assets/images/aptech-about-us.png"
        />
        <p class="description">
          Aptech là công ty đi tiên phong trong lĩnh vực đào tạo Công Nghệ Thông
          Tin và Truyền Thông Đa Phương Tiện, là công ty giáo dục nghề nghiệp
          toàn cầu hàng đầu thế giới có trụ sở tại Mumbai, Ấn Độ. Chúng tôi đã
          có kinh nghiệm đào tạo từ năm 1986. Với các trung tâm có mặt rộng khắp
          tại Việt Nam, Aptech thực sự đã trở thành một trung tâm đào tạo uy tín
          theo chuẩn quốc tế. Từ Hà Nội tới Thành phố Hồ Chí Minh, vì vậy dẫu
          bạn đang ở đâu thì Aptech luôn nằm trong tầm tay của bạn. Tất cả các
          trung tâm Aptech tại Việt Nam đều phù hợp với các tiêu chuẩn quốc tế.
          Ngoài phương thức đào tạo được giảng viên hướng dẫn trực tiếp, thì ở
          các trung tâm đều áp dụng đào tạo trực tuyến và kiểm tra trực tuyến.
          Aptech luôn tin rằng có thể khai phá được tiềm năng của mỗi học viên
          và mang sứ mệnh chắp cánh cho hàng triệu chuyên gia ngành CNTT cho
          những doanh nghiệp hàng đầu thế giới. Dựa trên các giáo trình cập nhật
          mới nhất với xu thế công nghệ thế giới, Aptech luôn dẫn đầu về việc
          giáo dục và đào tạo các khoá học từ sơ cấp đến chuyên nghiệp.
        </p>
      </div>
    </div>
  </div>
</div>
